
.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

.container input, .container button{
  padding: 10px;
  border-radius: 5px;
  margin: 1px;
  
}

.container button{
  cursor: pointer;
}
.title{
  font-size: 80px;
  text-align: center;
}

.tweetContainer{
  margin: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.tweetContainer h4, .tweetContainer p{
  margin: 0px;
}

.tweetContainer img{
  border-radius: 50%;
  object-fit: contain;
}

.imageContainer{
  margin-right:10px;
  width: 120px;
  
}

.results{
  display: flex;
}
